body {

    background-color: #101820;
    color: white;
    font-family: Arial, sans-serif;

}


.container {

    text-align: center;
    margin-top: 80px;

}


.box {

    background-color: #1f2937;
    padding: 20px;
    margin: 30px auto;
    width: 400px;
    border-radius: 10px;

}


button {

    padding: 12px 25px;
    background-color: #00c853;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;

}


button:hover {

    background-color: #009624;

}


#environment {

    font-size: 30px;
    color: #00e5ff;

}